header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  background-color: #23232e;
  margin-top: 0px;
  top: 0;
  position: fixed;
  overflow: hidden;
}

/* RWD - MEDIA QUERIES */

/* Smartfony */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  header {
    flex-direction: column;
    height: 160px;
  }
}

/* Ipady, tablety */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  header {
    flex-direction: column;
    height: 160px;
  }
}

/* Laptopy */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

/* Desktopy */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}

/* Extra i TV */
@media only screen and (min-width: 1201x) {
}
