header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  background-color: #23232e;
  margin-top: 0px;
  top: 0;
  position: fixed;
  overflow: hidden;
}

/* RWD - MEDIA QUERIES */

/* Smartfony */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  header {
    flex-direction: column;
    height: 160px;
  }
}
