/*TODO: Refactor css*/

/************************************/
/*---------------BASE---------------*/
/************************************/

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #1d1d2c;
  color: #f7f4e9;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #f7f4e9;
}

a:hover {
  text-decoration: none;
  color: #3cbcc3;
}

/************************************/
/*---------------MAIN---------------*/
/************************************/

main {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 70%;
  margin-top: 100px;
}

/************************************/
/*------------MAIN LIST-------------*/
/************************************/

#main-list {
  width: 75%;
}

.main-list-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  padding: 15px;
  background-color: #23232e;
}

.main-list-item:first {
  display: flex;
  align-items: center;
  margin-top: 0px;
}

.main-list-item-vote-bar {
  width: 5%;
}

.main-list-item-vote-bar i {
  font-size: 38px;
  color: #f7f4e9;
}

.main-list-item-vote-bar i:hover {
  font-size: 38px;
  color: #eba63f;
}

.main-list-item-content {
  width: 75%;
}

.main-list-item-photo {
  width: 20%;
  text-align: center;
}

.main-list-item-photo img {
  width: 150px;
  height: 100px;
  align-self: center;
}

.main-list-item h3 {
  font-size: 18px;
  margin-bottom: 0em;
}

.main-list-item p {
  font-size: 14px;
}

.main-list-item-author {
  font-size: 0.9rem;
  word-spacing: 0.1rem;
}

.main-list-item-footer {
  width: 100%;
  padding: 5px;
  font-size: 12px;
  margin-left: 5%;
}

.main-list-item-footer a + a {
  margin-left: 1rem;
}

/************************************/
/*-------------SIDEBAR--------------*/
/************************************/

#sidebar {
  color: #f7f4e9;
  width: 20%;
}

.sidebar-item {
  padding: 15px;
  background-color: #23232e;
  margin-top: 10px;
}

.sidebar-item h3 {
  font-size: 18px;
  margin-top: 0px;
}

.top-today {
  font: lighter;
}

.top-today ol {
  font-size: 14px;
  font-weight: lighter;
  padding-inline-start: 20px;
}

.sidebar-item ol li {
  display: list-item;
  margin-top: 15px;
}

.sidebar-item ol li:first-child {
  margin-top: 0px;
}

.sidebar-item ol li a {
  list-style-position: inside;
}

.topic-recomendations {
  display: flex;
  width: fit-content;
  max-height: 150px;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  border-bottom: thin solid 2px #1d1d2c;
}

.topic-recomendations:first {
  display: flex;
  width: fit-content;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0px;
}
.topic-recomendations img {
  width: 100%;
}

.topic-recomendations-title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  width: 100%;
}

.topic-recomendations-description {
  margin-top: 5px;
  font-size: 12px;
  width: 100%;
}

/************************************/
/*-----------USER PROFILE-----------*/
/************************************/

.profile-info {
  width: 75%;
}
.profile-details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  padding: 15px;
  background-color: #23232e;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  background-color: #eba63f;
  padding: 3px;
}

.profile-description {
  padding: 10px;
}

.profile-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.profile-buttons button {
  color: #f7f4e9;
  width: 150px;
  height: 30px;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 5px;
  border: none;
  background-color: #1d1d2c;
}

.profile-buttons button:hover {
  cursor: pointer;
  background-color: #3cbcc3;
  box-shadow: 0px 0px 10px 0px #3cbcc3;
}

.profile-user-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1px;

  /******************************* background-color: #23232E; *****/
}

#blog-container {
  font-size: 14px;
}

#added-container {
  /* display: none; */
}

#actions-container {
  /* display: none; */
}

#saved-container {
  /* display: none; */
}

.profile-achivments {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 15px;
  background-color: #23232e;
}

.achivment-box {
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: #1d1d2c;
  border-radius: 5px;
}

.achivment-box:hover {
  box-shadow: 0px 0px 10px 0px #eba63f;
}

.achivment-img {
  width: 50px;
  height: 50px;
  padding: 2px;
  background-color: #eba63f;
  border-radius: 5px;
}

.achivment-title {
  height: 32px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
.achivment-desc {
  height: 42px;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  margin-top: 10px;
}

.porifle-action-switcher {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #23232e;
  margin-top: 10px;
}

.porifle-action-switcher button {
  color: #f7f4e9;
  width: 25%;
  height: 50px;
  padding: 15px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  background-color: #23232e;
  border-left: #1d1d2c 1px solid;
}
.porifle-action-switcher button:first-child {
  border-left: none;
}

.porifle-action-switcher button:hover {
  cursor: pointer;
  background-color: #3cbcc3;
  box-shadow: 0px 0px 10px 0px #3cbcc3;
}

/************************************/
/*---------------BLOG---------------*/
/************************************/

.blog-list {
  font-size: 14px;
}

.blog-post {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  background-color: #23232e;
}
.blog-post:first {
  margin-top: 0px;
}

.blog-post-content {
  font-size: 14px;
  padding: 15px;
}

.blog-post-tags {
  font-size: 12px;
}

.blog-post-img {
  height: 250px;
  width: 100%;
  margin: 0px;
}

.blog-post-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  border-top: 1px solid #1d1d2c;
  width: 90%;
}

.blog-post-tags {
  /*TODO*/
  font-size: 10px;
}

/************************************/
/*-------------HELPERS--------------*/
/************************************/

.tags {
  font-size: 12px;
}

.active {
  cursor: pointer;
  /* background-color: #3cbcc3 !important;
  box-shadow: 0px 0px 10px 0px #3cbcc3; */
}
